<nav class="hamburger-menu" aria-label="mobile-menu"  role="navigation">
    <div class="hamburger-menu__toggle">
        <input type="checkbox" class="hamburger__toggle" id="hamburgerToggle" name="hamburger toggle" aria-label="Hamburguer menu">
        <label class="hamburger__toggle__icon" for="hamburgerToggle">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <ul class="hamburger__items" aria-label="mobile-menu">
            {{ $current := . }}
            {{ range .Site.Menus.main }}
            <li class="hamburger__items__item" aria-label="{{ .Name }}">
                <a href="{{ .URL }}" class="hamburger__items__item__link {{ if $current.IsMenuCurrent "main" . }}hamburger__items__item__link--active{{ end }}"
                alt="{{ .Name }}" role="menuitem">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>
